input.prompt {
	stroke: automatic;
	font-size: 20;
}

picture.mistral {
	picture: url("Images/mistral.svg");
}

picture.openai {
	picture: url("Images/openai.svg");
}

picture.claude {
	picture: url("Images/claude.svg");
}